html, body {
  height: 100%;
}

body {
  background-color: gray; 
  text-align: center;
  color: #fff;
}

h1 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

a, a:hover, a:active, a:visited {
  color: #fff;
  text-decoration: underline;
}

video {
  filter: brightness(170%);
  filter: contrast(90%);
}

#outsideContainer {
  overflow: hidden;
  position: absolute; 
  top: 0; left: 0; right: 0; bottom: 0;
}

#background_video {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%; width: 100%;
}

#video_cover {
  position: absolute;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
}

#header {
  margin-top: 20%;
}

.form-control {
  border: 0px;
}

#response {
  text-align: left;
  padding: 10px;
  height: 300px;
  border-radius: 5px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  word-wrap: break-word;
}

#input {
  width: 100%;
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
}

.flexscroll {
  width: hidden;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.flexscroll::-webkit-scrollbar {
  width: 12px;
}
 
.flexscroll::-webkit-scrollbar-thumb { 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(163, 163, 163, 0.4); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.btn-default {
    background: rgba(0,0,0,0.5);
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 1px solid rgba(0,0,0,0.3);
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #F2F2F2;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.2);
}